<div class="container margin">
  <div class="row circle">
    <div class='col'>
      <h2><%= @member.full_name %>さんの情報編集</h2>
      <%= form_with model: @member, url: admin_member_path(@member.id),local: false do |f| %>
        <div id='errors' class='my-3 text-right'>
          <%= render 'shared/errors', obj: f.object %>
        </div>
        <table class='table'>

          <tbody>
            <tr class='form-group'>
              <th><%= f.label :full_name, 'お名前' %>&emsp;<span class="badge badge-danger">必須</span></th>
              <td>
                <div class='row'>
                  <div class='col'>
                    <%= f.text_field :last_name , placeholder: '性',autofocus: true,class: 'form-control' %>
                  </div>
                  <div class='col'>
                    <%= f.text_field :first_name, placeholder: '名',class: 'form-control' %>
                  </div>
                </div>
              </td>
            </tr>

            <tr class='form-group'>
              <th><%= f.label :nickname, 'ニックネーム' %>&emsp;<span class="badge badge-danger">必須</span></th>
              <td><%= f.text_field :nickname, placeholder: 'ぴょん太',class: 'form-control' %></td>
            </tr>

            <tr class='form-group'>
              <th><%= f.label :introduction, '自己紹介' %></th>
              <td><%= f.text_area :introduction, placeholder: 'よろしくお願いします！',rows: '3',class: 'form-control' %></td>
            </tr>

            <tr class='form-group'>
              <th><%= f.label :email, 'メールアドレス' %>&emsp;<span class="badge badge-danger">必須</span></th>
              <td><%= f.text_field :email,class: 'form-control' %></td>
            </tr>

            <tr class='form-group'>
              <th><%= f.label :is_active, "会員ステータス" %></th>
              <td>
                <%= f.radio_button :is_active,true, value: true %>
                <%= f.label :is_active_true,"有効",class: 'mr-5' %>
                <%= f.radio_button :is_active,false,value: false %>
                <%= f.label :is_active_false,"退会" %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class='text-right'><%= f.submit '編集する', class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>