<div class="container margin">
  <div class="row circle">
    <div class='col'>
      <h2>登録者一覧</h2>
      <table class='table table-striped'>
        <thead class='thead-dark'>
          <tr>
            <th class='col-3'>お名前</th>
            <th class='col-1'>レベル</th>
            <th class='col-4'>メールアドレス</th>
            <th class='col-2'>登録日</th>
            <th class='col-2'>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td><%= link_to member.full_name, admin_member_path(member.id) %></td>
              <td>Lv.<%= member.level %></td>
              <td><%= member.email %></td>
              <td><%= l member.created_at, format: :short %></td>
              <td>
                <% if member.is_active  %>
                  <div class='text-success'>有効</div>
                <% else %>
                  <div class='text-danger'>退会済み</div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @members %>
    </div>
  </div>
</div>
