<div class="container margin">
  <div class="row circle">
    <div class="col">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div id='errors' class='my-3 text-right text-danger'>
          <% if  flash[:alert] %>
            ⚠️<%= flash[:alert]%>
          <% end %>
        </div>
        <table class='table'>
          <tbody>
            <tr>
              <th><%= f.label :email,'メールアドレス' %>&emsp;<span class="badge badge-danger">必須</span></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'hello@example.com',class: 'form-control' %></td>
            </tr>

            <tr>
              <th><%= f.label :password,'パスワード' %>&emsp;<span class="badge badge-danger">必須</span></th>
              <td><%= f.password_field :password, autocomplete: "current-password", placeholder: '12345678',class: 'form-control' %></td>
            </tr>

            <tr>
              <th></th>
              <td class='text-right'><%= f.submit 'ログインする', class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <div class='text-right'>
        <%= render "user/shared/links" %>
      </div>
    </div>
  </div>
</div>
