<div class="container">
  <div class="row">
    <div class="col-9 offset-2">
      <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "user/shared/error_messages", resource: resource %>

          <div class="mb-3">
            <%= f.label :email,'メールアドレス' %>&emsp;<span class="badge badge-danger">必須</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="mb-3">
            <%= f.label :password,'パスワード' %>&emsp;<span class="badge badge-danger">必須</span>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="actions">
            <%= f.submit "ログインする" %>
          </div>
        <% end %>

      <%= render "user/shared/links" %>
    </div>
  </div>
</div>
