<div class='container main-top'>
  <div class='row'>
    <div class='col-10'>
      <h2><%= @member.full_name %>さんの投稿</h2>
      <table class='table'>
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @post.title %></td>
          </tr>

          <tr>
            <th>投稿内容</th>
            <td><%= @post.content %></td>
          </tr>
          <tr>
            <th>変更</th>
            <td><%= link_to '編集する', edit_admin_post_path(@post.id),class: 'btn btn-success' %>
            <%= link_to '削除する', admin_post_path(@post.id),method: :delete, data: {confirm: "削除しますか？"}, class: 'btn btn-danger' %></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><%= @post.post_comments.count %>件</td>
          </tr>
        </tbody>
      </table>
      <div id='comments_area'>
        <%= render 'user/post_comments/comments',post: @post %>
      </div>
    </div>
  </div>
</div>