<% posts.each do |post| %>
  <tr>
    <% if member_signed_in? %>
      <td><%= link_to post.member.nickname, member_path(post.member_id) %></td>
      <td><%= link_to post.title, post_path(post.id) %></td>
    <% elsif admin_signed_in? %>
      <td><%= link_to post.member.nickname, admin_member_path(post.member_id) %></td>
      <td><%= link_to post.title, admin_post_path(post.id) %></td>
    <% end %>
    <td><%= post.content.truncate(15) %></td>
    <td id="like_buttons_<%= post.id %>">
      <%= render "user/likes/like", post: post %>
    </td>
  </tr>
<% end %>