<h2>投稿編集ページ</h2>

<%= form_with model: @post, url: post_path(@post.id) do |f| %>
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, '内容' %>
    <%= f.text_field :content %>
  </div>

  <%= f.submit '更新する', class: 'btn btn-success' %>
<% end %>