<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'user/posts/index', posts: @posts %>
  </tbody>
</table>

<%= form_with url: sort_path, method: :get, local: true do |f| %>
  <%= f.select :keyword, [  ['投稿が新しい順', 'new'],
                            ['投稿が古い順', 'old'],
                            ['いいねが多い順', 'likes'],
                            ['いいねが少ない順', 'dislikes']
                          ] %>
  <%= f.submit '並び替え' %>
<% end %>

<table>
  <tbody>
    <% @tag_lists.each do |list| %>
      <% if list.posts.published.count != 0 %>
        <tr>
          <td><%=link_to list.name, tag_posts_path(tag_id: list.id) %></td>
          <td><%= "(#{list.posts.published.count})" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% @posts.each do |post| %>
  <%= post.tags.map(&:name).join(',') %>
<% end %>
