<%= render 'layouts/errors', obj: @post %>
<div class='container main-top'>
  <div class='row'>
    <table class='table text-center'>
      <h2>新規投稿</h2>
      <tbody>
        <%= form_with model: @post,url: posts_path do |f| %>
          <tr>
            <th><%= f.label :title, 'タイトル' %></th>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <th><%= f.label :content, '内容' %></th>
            <td><%= f.text_area :content %></td>
          </tr>
          <tr>
            <th><%= f.label :name, 'タグ' %></th>
            <td><%= f.text_field :name %></td>
          </tr>

          <td> <%= f.select :status, Post.statuses.keys.map{ |k| [t("enums.post.status.#{k}"),k]},{},{class: "custom-select"} %> </td>

          <td>
            <%= f.submit '投稿',class: 'btn btn-success' %>
          </td>
        <% end %>
      </tbody>
    </table>
</div>
</div>
