<div class="container margin">
  <div class="row circle">
    <div class='col-2 pt-5'>
      <%= render 'user/posts/tag_lists', tag_lists: Tag.all %>
    </div>
    <div class='col-9 offset-1'>
      <table class='table'>
        <tbody>
          <h2>投稿詳細</h2>
          <tr>
            <th class='col-2'>投稿者: </th>
            <td><%= link_to "#{@post.member.nickname}さん",member_path(@post.member_id) %></td>
          </tr>
          <tr>
            <th>タイトル: </th>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <th>投稿内容:</th>
            <td><%= @post.content %></td>
          </tr>
          <tr>
            <th>タグ:</th>
            <td><%= @post.tags.pluck(:name).join(',') %></td>
          </tr>
        </tbody>
      </table>

          <% if current_member.guest? %>
            <% if current_member.id == @post.member_id %>
              <div class='text-right'>
                <%= link_to '編集する', edit_post_path(@post.id),class: 'btn btn-success mr-3 my-3' %>
                <%= link_to '削除する', post_path(@post.id),method: :delete, data: {confirm: "削除しますか？"} ,class: 'btn btn-danger my-3' %>
              </div>
            </tr>
            <% else %>
              <div class='new_comments'>
                <%= render 'user/post_comments/form', post: @post, post_comment: @post_comment %>
              </div>
              <div id="like_buttons_<%= @post.id %>" class='text-right'>
                <%= render "user/likes/like", post: @post %>
              </div>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <div id='comments_area'>
        <%= render 'user/post_comments/comments',post: @post%>
      </div>
      <div><%= paginate @post_comments %></div>
    </div>
  </div>
</div>