<header>
    <%= link_to 'ホーム画面', root_path, class: 'header-item header-icon' %>
  <ul>
    <% if member_signed_in? %>

      <li>
        <%= link_to 'About', about_path, class: 'header-item' %>
      </li>

      <li>
        <%= link_to 'マイページ', member_path(current_member.id), class: 'header-item' %>
      </li>

      <li>
        <%= link_to '投稿一覧', posts_path, class: 'header-item' %>
      </li>

      <li>
        <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'header-item' %>
      </li>

    <% elsif admin_signed_in? %>
      <li>
        <%= link_to '会員一覧', admin_members_path, class: 'header-item' %>
      </li>

      <li>
        <%= link_to '投稿一覧', admin_posts_path, class: 'header-item' %>
      </li>

      <li>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'header-item' %>
      </li>

    <% else %>

      <li>
      <%= link_to 'ゲストログイン', about_path, class: 'header-item' %>
      </li>

      <li>
      <%= link_to 'About', about_path, class: 'header-item' %>
      </li>

      <li>
      <%= link_to '新規登録', new_member_registration_path, class: 'header-item' %>
      </li>

      <li>
      <%= link_to 'ログイン', new_member_session_path, class: 'header-item' %>
      </li>

    <% end %>
  </ul>
</header>