<!DOCTYPE html>
<html>
  <head>
    <title>初心者のためのエンジニアサイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0e753d0079.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render '/layouts/header' %>
    </header>

    <main>
      <div class="notice pl-5 "><%= notice %></div>
      <% unless %w[root about].any? { |name| current_page?(send("#{name}_path")) } %>
        <%= render '/user/searches/form' %>
      <% end %>
      <%= yield %>
    </main>
    <footer class="footer">
      <%= render '/layouts/footer' %>
    </footer>
  </body>
</html>
