<!DOCTYPE html>
<html>
  <head>
    <title>初心者のためのエンジニアサイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/header' %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
    <div class="row">
        <div class="col-2">
          <% unless %w[root about admin_session member_session new_member_registration].any? { |name| current_page?(send("#{name}_path")) } %>
            <%= render'layouts/sidebar', tag_lists: Tag.all %>
          <% end %>
        </div>

      <main class="col-10">
        <%= render '/user/searches/form' %>
        <%= yield %>
      </main>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
